In [5]:
import pandas as pd

# 데이터 불러오기
data = pd.read_csv("/content/drive/MyDrive/Ecothon2023/data/collect.csv")

# 전체 데이터의 type이 "수거공간"이므로 "type" 열 제거
data = data.drop(["type"], axis=1)

# tell -> contact 컬럼명 변경
data = data.rename(columns={"tell": "contact"})

# 결과 확인
data

,title,address,contact,date
0,"<em id=""comment_writer"">플라스틱정류장</em>","<p class=""adress"">광주광역시 서구 천변좌로 120</p>","<p class=""tell""><a class=""blocked"" href=""tel:0...","<em class=""comment_wtime"" data-original-title=..."
1,"<em id=""comment_writer"">파틱스</em>","<p class=""adress"">경상남도 김해시 인제로 197 인제대학교</p>","<p class=""tell""><a class=""blocked"" href=""tel:0...","<em class=""comment_wtime"" data-original-title=..."
2,"<em id=""comment_writer"">윤세희</em>","<p class=""adress"">서울특별시 종로구 북촌로6길 32-4</p>","<p class=""tell""><a class=""blocked"" href=""tel:0...","<em class=""comment_wtime"" data-original-title=..."
3,"<em id=""comment_writer"">에코유</em>","<p class=""adress"">경상남도 거제시 계룡로 126 배진빌딩</p>","<p class=""tell""><a class=""blocked"" href=""tel:0...","<em class=""comment_wtime"" data-original-title=..."
4,"<em id=""comment_writer"">생태전환마을내일</em>","<p class=""adress"">강원도 강릉시 용지로96번길 25-1</p>","<p class=""tell""><a class=""blocked"" href=""tel:""...","<em class=""comment_wtime"" data-original-title=..."
...,...,...,...,...
65,"<em id=""comment_writer"">알맹상점</em>","<p class=""adress"">서울특별시 마포구 월드컵로25길 47 한흥빌딩</p>","<p class=""tell""><a class=""blocked"" href=""tel:0...","<em class=""comment_wtime"" data-original-title=..."
66,"<em id=""comment_writer"">아이디어창작소도깨비</em>","<p class=""adress"">경기도 화성시</p>","<p class=""tell""><a class=""blocked"" href=""tel:0...","<em class=""comment_wtime"" data-original-title=..."
67,"<em id=""comment_writer"">clubkeepus</em>","<p class=""adress"">충청남도 보령시 신평중앙길 37</p>","<p class=""tell""><a class=""blocked"" href=""tel:0...","<em class=""comment_wtime"" data-original-title=..."
68,"<em id=""comment_writer"">더쓸모협동조합</em>","<p class=""adress"">대구광역시 북구 경대로5길 16</p>","<p class=""tell""><a class=""blocked"" href=""tel:0...","<em class=""comment_wtime"" data-original-title=..."
69,"<em id=""comment_writer"">서울환경연합</em>","<p class=""adress"">서울특별시 성동구 성수이로26길 47</p>","<p class=""tell""><a class=""blocked"" href=""tel:0...","<em class=""comment_wtime"" data-original-title=..."

In [6]:
# html2text 라이브러리 설치 
!pip install html2text

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: html2text in /usr/local/lib/python3.10/dist-packages (2020.1.16)

In [7]:
from html2text import html2text

# HTML 태그를 제거하는 함수
def convert_html_to_text(html):
  text = html2text(html)
  # "\n" 제거
  text = text.replace("\n", "")
  # "_" 제거
  if "_" in text:
    text = text.replace("_", "")
  # contact 컬럼 전화번호만 추출
  if "tel" in text:
    start_index = text.find(":") + 1
    end_index = text.find(")")
    text = text[start_index:end_index]
  return text

# data의 모든 컬럼에 대해 함수 적용
data = data.applymap(convert_html_to_text)

# 결과 확인
data

,title,address,contact,date
0,플라스틱정류장,광주광역시 서구 천변좌로 120,070-7608-1216,2023-04-26
1,파틱스,경상남도 김해시 인제로 197 인제대학교,010-7928-7759/010-4948-3512,2023-03-02
2,윤세희,서울특별시 종로구 북촌로6길 32-4,02-6465-9006,2023-02-03
3,에코유,경상남도 거제시 계룡로 126 배진빌딩,01067856614,2023-01-07
4,생태전환마을내일,강원도 강릉시 용지로96번길 25-1,,2022-12-12
...,...,...,...,...
65,알맹상점,서울특별시 마포구 월드컵로25길 47 한흥빌딩,010 2229 1027,2021-03-01
66,아이디어창작소도깨비,경기도 화성시,01045911521,2021-02-28
67,clubkeepus,충청남도 보령시 신평중앙길 37,010-7547-0933,2021-02-25
68,더쓸모협동조합,대구광역시 북구 경대로5길 16,010-9988-5535,2021-02-25
69,서울환경연합,서울특별시 성동구 성수이로26길 47,010-2133-7088,2021-02-24

In [8]:
# 이름이 "mydata.csv"인 csv 파일로 인덱스 제외하고 저장
data.to_csv("mydata.csv", index=False)

In [9]:
# 저장한 파일 불러오기
mydata = pd.read_csv("/content/mydata.csv")

# 결과 확인( ~ 25번째 행)
mydata[:25]

,title,address,contact,date
0,플라스틱정류장,광주광역시 서구 천변좌로 120,070-7608-1216,2023-04-26
1,파틱스,경상남도 김해시 인제로 197 인제대학교,010-7928-7759/010-4948-3512,2023-03-02
2,윤세희,서울특별시 종로구 북촌로6길 32-4,02-6465-9006,2023-02-03
3,에코유,경상남도 거제시 계룡로 126 배진빌딩,01067856614,2023-01-07
4,생태전환마을내일,강원도 강릉시 용지로96번길 25-1,NaN,2022-12-12
5,국립청소년미래환경센터,경상북도 봉화군 춘양면 춘양로 1466,054-679-3000,2022-11-30
6,비건채식마켓,경상남도 창원시 성산구 신월로 10,055-274-2111,2022-08-10
7,자원순환 환장 사회적협동조합,서울특별시 강북구 인수봉로23길 37,010-9416-7015,2022-05-24
8,알맹상점,서울특별시 중구 한강대로 405 경부고속철도서울민자역사,070 7777 1925,2022-03-06
9,얼쓰인어스,세종특별자치시 대평로 86 해들마을 6단지 상가동,044-999-4219,2022-02-28
10,햇빛상점,서울특별시 은평구 연서로 16,02-3157-2649,2022-02-22
11,플레이앤두,경기도 용인시 기흥구 이현로30번길 3 솔뫼마을현대홈타운,010 9231 5190,2022-01-07
12,어거스트,강원도 춘천시 춘천순환로 44,050713470828,2021-12-16
13,일상공감,서울특별시 성북구 삼양로 27,NaN,2021-11-28
14,"#지구,돌봄",경기도 광명시 하안로288번길 12 하안주공12단지상가,02.899.2081,2021-11-15
15,정미나,강원도 영월군 영월읍 덕포시장길 50,033-372-7173,2021-11-10
16,Ucyclefor Project,부산광역시 해운대구,01077949694,2021-11-01
17,아워리 라이프,서울특별시 노원구 중계로2길 84,@ourrelife,2021-10-13
18,서울환경연합,서울특별시 성동구 성수이로26길 47,NaN,2021-09-24
19,북극곰,경기도 남양주시 늘을2로14번길 12,NaN,2021-08-04
20,마플상회,"부산광역시 북구 산성로 37-1, 2층",010-5187-3926,2021-08-02
21,설해냄,서울특별시 마포구 성미산로17길 101,01088304517,2021-07-30
22,마리앤하우스,경상남도 창원시 마산합포구 3·15대로 53-1,0507-1375-6229,2021-07-29
23,무해공간,경기도 성남시 중원구 원터로105번길 5-1,01047613074,2021-07-22
24,정은민,전라남도 나주시 그린로 229,061-335-3123,2021-07-15

In [10]:
# 결과 확인( ~ 70번째 행)
mydata[26:]

,title,address,contact,date
26,싱글룸,충청북도 청주시 상당구 중고개로141번길 14-2,043-293-2581,2021-07-13
27,열매네살림,서울특별시 강북구 삼양로27길 19 삼성래미안트리베라아파트,01037525370,2021-07-13
28,선택지,서울특별시 강동구 천호옛12길 47 현대상가,07041411724,2021-07-12
29,미바드래프트,서울특별시 동대문구 천장산로7길 8,029592717,2021-07-07
30,지구랑 가게,서울특별시 노원구 광운로 53 니아미트어린이집,070-7585-7991,2021-06-30
31,김상원,부산광역시 수영구 남천동로16번길 5,051-628-0622,2021-06-29
32,슈가,경상남도 진주시 초전남로 35,055-761-2585,2021-06-29
33,초록숲상점,경기도 평택시 용죽6길 22,01065590032,2021-06-21
34,최정은,전라북도 군산시 구영5길 21-4,010-4240-8508,2021-06-10
35,냉이,충청남도 논산시 계백로1062번길 7-2,010-2724-1409,2021-06-01
36,비그린(B:green),서울특별시 동작구 노량진로 10 여성가족복합시설 스페이스살림,070-5029-2019,2021-06-01
37,위치타,경기도 안양시 만안구 냉천로203번길 6,010-8484-8734,2021-06-01
38,네모상점,부산광역시 연제구 신금로 25,010-3931-9640,2021-05-28
39,류은정,경상북도 김천시 남산공원길 35,NaN,2021-05-12
40,도돌이,서울특별시 서대문구 가좌로 77 마을언덕 홍은둥지,02-303-0503,2021-05-11
41,비건바닐라,대전광역시 서구 한밭대로656번길 32,0507-1361-9962,2021-05-10
42,대안생활공기,서울특별시 강동구 상암로3길 24 뱅크빌딩,010-9948-0716,2021-05-06
43,김초혜,인천광역시 중구 하늘달빛로 78 영종 힐링프라자,070-8065-2776,2021-04-30
44,방승연,서울특별시 광진구 아차산로65길 22,0507-1337-5180,2021-04-29
45,낯설여관,경기도 수원시 장안구 영화로71번길 33 크리스챤어페럴,0507-1392-0130,2021-04-20
46,순환지구,서울특별시 성북구 동소문로25길 8,02-921-3888,2021-04-18
47,허그어웨일,서울특별시 강서구 화곡로55길 23,02-2038-7209,2021-04-16
48,소중한모든것,인천광역시 남동구 인하로 617 플러스타워,070-4266-0247,2021-04-14
49,플라스틱 베이커리,서울시 중구 을지로 157,010-3494-1510,2021-04-14
50,에르마나스이너피스,강원도 원주시 남원로469번길 14-2,01063582317,2021-04-14
51,천연제작소,부산광역시 북구 덕천1길 93,051-338-9619,2021-04-13
52,늘미곡,전라북도 전주시 완산구 선너머로 16 중화산동 광진아파트,070-4240-0225,2021-04-13
53,페이퍼넛츠,서울특별시 서대문구 거북골로24길 37-8 영재하이빌,02-6408-7799,2021-04-13
54,덕분愛,서울특별시 서초구 서초대로 389 진흥상가,02-6959-4479,2021-04-13
55,지구에티켓,경기도 오산시 세마역로19번길 52,01037799470,2021-04-13
56,이로운공간 이공,광주광역시 광산구 송도로 257-1,062-941-7978,2021-04-12
57,1.5도씨,서울특별시 관악구 조원로18길 15,01092019173,2021-04-12
58,솝리필스테이션,경기도 성남시 수정구 위례광장로 21 가하빌딩,01049365049,2021-04-12
59,포항나눔지역자활센터(지구공방),경상북도 포항시 남구 정몽주로861번길 9-5,NaN,2021-04-08
60,전주시자원봉사센터,전라북도 전주시 덕진구 전주천동로 455 전주시자원봉사센터,063-273-1365,2021-03-30
61,Project Modulab,서울특별시 은평구 통일로 684 서울혁신파크,ysh.jay@funcompany.org,2021-03-19
62,재작소,대전광역시 대덕구 오정동 133-16,jaejagso@gmail.com,2021-03-18
63,지구맑음,울산광역시 남구 삼산중로74번길 30,01025071421,2021-03-11
64,제4의공간,서울특별시 영등포구 도림로143길 11-19,contact@4thplace.io,2021-03-03
65,알맹상점,서울특별시 마포구 월드컵로25길 47 한흥빌딩,010 2229 1027,2021-03-01
66,아이디어창작소도깨비,경기도 화성시,01045911521,2021-02-28
67,clubkeepus,충청남도 보령시 신평중앙길 37,010-7547-0933,2021-02-25
68,더쓸모협동조합,대구광역시 북구 경대로5길 16,010-9988-5535,2021-02-25
69,서울환경연합,서울특별시 성동구 성수이로26길 47,010-2133-7088,2021-02-24

In [31]:
df_강원 = mydata[mydata["address"].str.contains("강원도")]
df_강원

        title                address       contact        date
4    생태전환마을내일   강원도 강릉시 용지로96번길 25-1           NaN  2022-12-12
12       어거스트       강원도 춘천시 춘천순환로 44  050713470828  2021-12-16
15        정미나   강원도 영월군 영월읍 덕포시장길 50  033-372-7173  2021-11-10
50  에르마나스이너피스  강원도 원주시 남원로469번길 14-2   01063582317  2021-04-14

In [32]:
df_경기 = mydata[mydata["address"].str.contains("경기도")]
df_경기

         title                          address         contact        date
11       플레이앤두  경기도 용인시 기흥구 이현로30번길 3 솔뫼마을현대홈타운   010 9231 5190  2022-01-07
14      #지구,돌봄   경기도 광명시 하안로288번길 12 하안주공12단지상가     02.899.2081  2021-11-15
19         북극곰             경기도 남양주시 늘을2로14번길 12             NaN  2021-08-04
23        무해공간         경기도 성남시 중원구 원터로105번길 5-1     01047613074  2021-07-22
33       초록숲상점                  경기도 평택시 용죽6길 22     01065590032  2021-06-21
37         위치타           경기도 안양시 만안구 냉천로203번길 6   010-8484-8734  2021-06-01
45        낯설여관   경기도 수원시 장안구 영화로71번길 33 크리스챤어페럴  0507-1392-0130  2021-04-20
55       지구에티켓              경기도 오산시 세마역로19번길 52     01037799470  2021-04-13
58     솝리필스테이션        경기도 성남시 수정구 위례광장로 21 가하빌딩     01049365049  2021-04-12
66  아이디어창작소도깨비                          경기도 화성시     01045911521  2021-02-28

In [14]:
df_경남 = mydata[mydata["address"].str.contains("경상남도")]
df_경남

,title,address,contact,date
1,파틱스,경상남도 김해시 인제로 197 인제대학교,010-7928-7759/010-4948-3512,2023-03-02
3,에코유,경상남도 거제시 계룡로 126 배진빌딩,01067856614,2023-01-07
6,비건채식마켓,경상남도 창원시 성산구 신월로 10,055-274-2111,2022-08-10
22,마리앤하우스,경상남도 창원시 마산합포구 3·15대로 53-1,0507-1375-6229,2021-07-29
32,슈가,경상남도 진주시 초전남로 35,055-761-2585,2021-06-29

In [16]:
df_경북 = mydata[mydata["address"].str.contains("경상북도")]
df_경북

               title                    address       contact        date
5        국립청소년미래환경센터      경상북도 봉화군 춘양면 춘양로 1466  054-679-3000  2022-11-30
39               류은정          경상북도 김천시 남산공원길 35           NaN  2021-05-12
59  포항나눔지역자활센터(지구공방)  경상북도 포항시 남구 정몽주로861번길 9-5           NaN  2021-04-08

In [17]:
df_광주 = mydata[mydata["address"].str.contains("광주광역시")]
df_광주

       title              address        contact        date
0    플라스틱정류장    광주광역시 서구 천변좌로 120  070-7608-1216  2023-04-26
56  이로운공간 이공  광주광역시 광산구 송도로 257-1   062-941-7978  2021-04-12

In [18]:
df_대구 = mydata[mydata["address"].str.contains("대구광역시")]
df_대구

      title            address        contact        date
68  더쓸모협동조합  대구광역시 북구 경대로5길 16  010-9988-5535  2021-02-25

In [19]:
df_대전 = mydata[mydata["address"].str.contains("대전광역시")]
df_대전

    title                address             contact        date
41  비건바닐라  대전광역시 서구 한밭대로656번길 32      0507-1361-9962  2021-05-10
62    재작소   대전광역시 대덕구 오정동 133-16  jaejagso@gmail.com  2021-03-18

In [20]:
df_부산 = mydata[mydata["address"].str.contains("부산광역시")]
df_부산

                title                address        contact        date
16  Ucyclefor Project             부산광역시 해운대구    01077949694  2021-11-01
20               마플상회  부산광역시 북구 산성로 37-1, 2층  010-5187-3926  2021-08-02
31                김상원   부산광역시 수영구 남천동로16번길 5   051-628-0622  2021-06-29
38               네모상점       부산광역시 연제구 신금로 25  010-3931-9640  2021-05-28
51              천연제작소       부산광역시 북구 덕천1길 93   051-338-9619  2021-04-13

In [21]:
df_서울 = mydata[mydata["address"].str.contains("서울특별시")]
df_서울

,title,address,contact,date
2,윤세희,서울특별시 종로구 북촌로6길 32-4,02-6465-9006,2023-02-03
7,자원순환 환장 사회적협동조합,서울특별시 강북구 인수봉로23길 37,010-9416-7015,2022-05-24
8,알맹상점,서울특별시 중구 한강대로 405 경부고속철도서울민자역사,070 7777 1925,2022-03-06
10,햇빛상점,서울특별시 은평구 연서로 16,02-3157-2649,2022-02-22
13,일상공감,서울특별시 성북구 삼양로 27,NaN,2021-11-28
17,아워리 라이프,서울특별시 노원구 중계로2길 84,@ourrelife,2021-10-13
18,서울환경연합,서울특별시 성동구 성수이로26길 47,NaN,2021-09-24
21,설해냄,서울특별시 마포구 성미산로17길 101,01088304517,2021-07-30
25,강서양천시민햇빛발전협동조합,서울특별시 양천구 목동중앙북로16길 41,070-7670-1004,2021-07-13
27,열매네살림,서울특별시 강북구 삼양로27길 19 삼성래미안트리베라아파트,01037525370,2021-07-13
28,선택지,서울특별시 강동구 천호옛12길 47 현대상가,07041411724,2021-07-12
29,미바드래프트,서울특별시 동대문구 천장산로7길 8,029592717,2021-07-07
30,지구랑 가게,서울특별시 노원구 광운로 53 니아미트어린이집,070-7585-7991,2021-06-30
36,비그린(B:green),서울특별시 동작구 노량진로 10 여성가족복합시설 스페이스살림,070-5029-2019,2021-06-01
40,도돌이,서울특별시 서대문구 가좌로 77 마을언덕 홍은둥지,02-303-0503,2021-05-11
42,대안생활공기,서울특별시 강동구 상암로3길 24 뱅크빌딩,010-9948-0716,2021-05-06
44,방승연,서울특별시 광진구 아차산로65길 22,0507-1337-5180,2021-04-29
46,순환지구,서울특별시 성북구 동소문로25길 8,02-921-3888,2021-04-18
47,허그어웨일,서울특별시 강서구 화곡로55길 23,02-2038-7209,2021-04-16
53,페이퍼넛츠,서울특별시 서대문구 거북골로24길 37-8 영재하이빌,02-6408-7799,2021-04-13
54,덕분愛,서울특별시 서초구 서초대로 389 진흥상가,02-6959-4479,2021-04-13
57,1.5도씨,서울특별시 관악구 조원로18길 15,01092019173,2021-04-12
61,Project Modulab,서울특별시 은평구 통일로 684 서울혁신파크,ysh.jay@funcompany.org,2021-03-19
64,제4의공간,서울특별시 영등포구 도림로143길 11-19,contact@4thplace.io,2021-03-03
65,알맹상점,서울특별시 마포구 월드컵로25길 47 한흥빌딩,010 2229 1027,2021-03-01
69,서울환경연합,서울특별시 성동구 성수이로26길 47,010-2133-7088,2021-02-24

In [22]:
df_울산 = mydata[mydata["address"].str.contains("울산광역시")]
df_울산

   title               address      contact        date
63  지구맑음  울산광역시 남구 삼산중로74번길 30  01025071421  2021-03-11

In [23]:
df_인천 = mydata[mydata["address"].str.contains("인천광역시")]
df_인천

     title                     address        contact        date
43     김초혜  인천광역시 중구 하늘달빛로 78 영종 힐링프라자  070-8065-2776  2021-04-30
48  소중한모든것     인천광역시 남동구 인하로 617 플러스타워  070-4266-0247  2021-04-14

In [24]:
df_전남 = mydata[mydata["address"].str.contains("전라남도")]
df_전남

   title           address       contact        date
24   정은민  전라남도 나주시 그린로 229  061-335-3123  2021-07-15

In [25]:
df_전북 = mydata[mydata["address"].str.contains("전라북도")]
df_전북

        title                           address        contact        date
34        최정은                전라북도 군산시 구영5길 21-4  010-4240-8508  2021-06-10
52        늘미곡   전라북도 전주시 완산구 선너머로 16 중화산동 광진아파트  070-4240-0225  2021-04-13
60  전주시자원봉사센터  전라북도 전주시 덕진구 전주천동로 455 전주시자원봉사센터   063-273-1365  2021-03-30

In [26]:
df_제주 = mydata[mydata["address"].str.contains("제주")]
df_제주

Empty DataFrame
Columns: [title, address, contact, date]
Index: []

In [27]:
df_충남 = mydata[mydata["address"].str.contains("층청남도")]
df_충남

Empty DataFrame
Columns: [title, address, contact, date]
Index: []

In [28]:
df_충북 = mydata[mydata["address"].str.contains("충청북도")]
df_충북

   title                      address       contact        date
26   싱글룸  충청북도 청주시 상당구 중고개로141번길 14-2  043-293-2581  2021-07-13

In [34]:
df = pd.DataFrame({"지역": ["강원", "경기", "경남", "경북", "광주", "대구", "대전", "부산", "서울", "울산", "인천", "전남", "전북", "제주", "충남", "충북"],
                   "현재 플라스틱 방앗간 개수": [len(df_강원), len(df_경기), len(df_경남), len(df_경북), len(df_광주), len(df_대구), len(df_대전), len(df_부산), len(df_서울), len(df_울산), len(df_인천), len(df_전남), len(df_전북), len(df_제주), len(df_충남), len(df_충북)]})
df

    지역  현재 플라스틱 방앗간 개수
0   강원               4
1   경기              10
2   경남               5
3   경북               3
4   광주               2
5   대구               1
6   대전               2
7   부산               5
8   서울              26
9   울산               1
10  인천               2
11  전남               1
12  전북               3
13  제주               0
14  충남               0
15  충북               1