In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
import os

In [4]:
path = 'C:/datasets'
os.chdir(path)
print(os.getcwd())

C:\datasets

In [22]:
df = pd.read_csv("생활폐기물(2020~2021).csv", encoding='cp949')
df.head()

  구분1           구분2  구분3     구분4       2020년       2021년
0  전국            합계   소계      소계  17303386.4  16751314.6
1  전국  종량제방식 등 혼합배출   소계      소계   8041965.2   8147806.3
2  전국  종량제방식 등 혼합배출  가연성      소계   6929046.9   6927858.2
3  전국  종량제방식 등 혼합배출  가연성     폐지류   1829611.5   1873452.9
4  전국  종량제방식 등 혼합배출  가연성  폐합성수지류   1706740.2   1750968.8

In [23]:
# 2020 ~ 2021년 폐합성수지류 발생현황 데이터
df1 = df[df['구분3']=='폐합성수지류']
df2 = df[df['구분4']=='폐합성수지류']

df_new = df1.append(df2)

df_new.drop(['구분2', '구분3', '구분4'], axis=1, inplace=True)
df_new.drop([24, 25, 26, 27], axis=0, inplace=True)
df_new = df_new.fillna(0)
df_new = df_new.groupby('구분1').sum()
df_new

         2020년      2021년
구분1
강원    104507.8   114571.8
경기    674379.0   789086.5
경남    160810.0   181060.0
경북    146123.6   147046.8
광주     51582.7    73882.0
대구    132795.4   108613.4
대전     84849.5    75176.4
부산    288889.6   195057.2
서울    593849.8   558579.8
세종     16540.3    23216.2
울산     59688.1    45469.6
인천    115752.4   147726.8
전국   1706740.2  1750968.8
전남     97958.0    85923.3
전북     82541.3    86318.3
제주     46426.4    48265.3
충남    110946.0   127683.7
충북     97861.1   102501.2

In [24]:
# 1996년 ~ 2019년 폐합성수지류 발생현황 데이터
df = pd.read_csv("생활폐기물(1996~2019).csv", encoding='cp949')
df1 = df[df['구분2'] == '폐합성수지류']
df1.drop(['구분2', '구분3', '구분4'], axis=1, inplace=True)
df1.drop(index=[5, 9, 32], axis=0, inplace=True)
df1 = df1.fillna(0)
df_old = df1.groupby('구분1').sum()
df_old

,1996 년,1997 년,1998 년,1999 년,2000 년,2001 년,2002 년,2003 년,2004 년,2005 년,...,2010 년,2011 년,2012 년,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년
구분1,,,,,,,,,,,,,,,,,,,,,
강원,59.0,37.9,40.9,63.0,66.0,91.5,122.1,102.0,123.1,126.0,...,163.5,166.70,169.7,153.5,204.10,161.7,137.3,162.7,196.3,264.7
경기,579.0,638.3,636.8,594.0,565.6,573.9,710.3,757.8,745.7,736.7,...,761.7,781.40,816.8,803.8,842.90,847.3,1017.4,1129.9,1301.5,1572.0
경남,173.0,116.5,154.1,168.7,179.1,229.7,261.2,263.0,279.5,301.8,...,276.5,309.90,374.4,310.2,360.90,307.6,336.4,331.2,335.0,409.1
경북,59.0,72.7,84.4,112.5,114.3,103.9,111.9,149.8,194.6,208.7,...,154.3,169.50,181.1,206.9,185.60,216.1,280.5,271.0,318.6,320.6
광주,42.0,49.5,52.4,58.2,63.6,52.4,129.8,115.8,134.3,134.0,...,126.4,104.83,124.1,133.4,128.90,141.6,138.5,119.8,135.3,129.6
대구,126.0,131.3,197.3,244.5,261.4,247.9,233.1,204.5,155.5,130.8,...,192.8,196.00,236.8,223.1,188.36,240.6,282.7,285.7,301.1,349.7
대전,152.4,156.5,126.7,136.3,114.9,120.1,156.9,161.1,184.0,206.7,...,125.9,105.50,157.8,173.6,143.00,126.0,121.5,144.4,164.5,202.3
부산,260.0,249.0,242.5,290.3,260.9,315.1,294.5,302.8,238.4,216.5,...,290.9,298.50,325.7,329.7,319.90,328.8,287.9,389.5,340.3,508.3
서울,618.0,599.4,506.6,589.2,652.2,722.2,649.0,595.0,672.4,651.3,...,580.7,528.50,445.5,441.2,515.60,555.3,624.7,797.2,741.7,1111.1
세종,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,2.2,6.2,11.90,14.3,17.3,23.3,37.9,33.2
울산,0.0,61.8,52.2,66.9,74.3,129.8,150.7,108.1,87.2,94.9,...,74.5,79.80,80.5,84.7,76.90,75.6,96.9,96.4,100.4,128.8
인천,100.0,100.7,152.9,145.3,201.9,205.1,216.8,232.8,237.4,166.6,...,63.5,54.30,95.8,61.5,49.20,63.1,129.8,139.3,177.5,254.6
전남,79.0,76.4,85.8,75.0,73.3,99.6,122.0,136.5,153.5,133.6,...,148.9,167.60,150.1,183.6,187.50,205.1,223.1,189.9,201.1,231.8
전북,63.0,64.7,64.5,96.1,92.5,87.5,86.4,94.9,110.5,102.5,...,124.0,130.70,157.1,160.6,136.80,156.6,193.4,213.7,252.8,217.4
제주,19.9,29.7,14.9,22.0,16.2,22.5,24.4,29.2,25.4,19.0,...,32.1,31.90,65.1,26.4,41.10,51.4,58.6,62.7,47.4,81.6
충남,64.0,79.7,77.0,70.9,77.7,77.9,79.4,101.3,97.7,159.5,...,174.2,126.50,173.9,160.8,203.90,200.1,232.1,230.2,286.4,246.9
충북,48.9,53.8,73.0,53.8,55.1,48.5,48.2,57.1,65.0,96.7,...,106.7,89.40,114.2,118.1,127.10,185.0,163.2,173.1,176.3,243.6
합계,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.00,0.0,109.3,131.0,135.1,1888.8

In [28]:
# 전국 생활폐기물
life_all = pd.merge(df_old, df_new, how='inner', on='구분1')
life_all
life_all.to_csv("./life_all.csv", encoding="utf-8-sig")

---

In [37]:
# 서울 생활폐기물
life_seoul = life_all[life_all.index == '서울']
life_seoul
life_seoul.to_csv("./life_seoul.csv", encoding="utf-8-sig")

---

In [40]:
# 그 외 지역 생활폐기물
life_other = life_all[life_all.index != '서울']
life_other
life_other.to_csv("./life_other.csv", encoding="utf-8-sig")

---